@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.texto-nuevo {
    font-family: 'Lora', serif;
    font-weight: 700;
    color: #0C1F3D;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.custom-nav,
.custom-nav-about {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
}

.custom-nav-about {
    background-color: #0C1F3D;
}

.custom-nav.scrolled {
    background-color: #0C1F3D;
}

.custom-nav a,
.custom-nav-about a {
    color: #fff !important;
    font-size: 18px;
}

.container-img-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
}

.container-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.container-color {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(12, 31, 61, 0.6);
    width: 100%;
    height: 100vh;
}

.text-inf {
    opacity: 0;
    color: #fff;
    animation: fadeIn 5s ease forwards;
    font-size: 16px;
}

.p-inf {
    opacity: 0;
    font-size: 16px;
    animation: fadeIn 6s ease forwards;
}

.circle {
    background-color: #027849;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.inf,
.card-text {
    text-align: justify;
    font-size: 16px;
    color: #333;
}

.ico {
    margin-right: 20px;
    color: #fff;
    font-size: 20px;
}

ul {
    list-style: none;
    padding-left: 0;
}

.icon-list::before {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 8px;
    color: #0C1F3D;
}

.about {
    color: white;
    text-align: justify;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #027849;
    font-size: 16px;
}

a:hover {
    color: #0C1F3D;
}

.icon-user,
.icon-about {
    font-size: 20px;
    color: #fff;
}

.icon-about {
    color: #0C1F3D;
}

.icon-footer,
.icon-footer-web {
    font-size: 20px;
    margin-right: 20px;
}

.icon-footer {
    color: #027849;
}

.icon-footer-web {
    color: #1154bc;
}

.circle-user {
    background-color: #0C1F3D;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Poner lo mismo para todo el texto*/
.list-about, 
.about-carousel {
    font-size: 16px;
    color: #333;
    position: relative;
    overflow: hidden;
    transition: color 0.5s ease;
    text-align: justify;
}

.about-carousel {
    color: #fff;
}

.about-user {
    display: block;
}

.btn-up {
    background-color: #E0E0E0;
    width: 100%;
    height: 100px;
    border: none;
    font-size: 18px;
    color: #333333;
}

.sub-titles {
    border-bottom: 2px solid #333333;
    width: 200px;
    text-align: center;
}

.map {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.map .tooltip {
    visibility: hidden;
    width: auto;
    background-color: #027849;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.map .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #027849 transparent transparent transparent;
}

.map:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.container-phone,
.container-web {
    position: relative;
    height: 40px;
    color: #333;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.container-phone {
    color: #027849;
}

.container-web {
    color: #1154bc;
}

.container-phone::before,
.container-web::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background-color: #027849;
    transition: width 0.5s ease;
    z-index: 0;
}

.container-phone::before {
    background-color: #027849;
}

.container-web::before {
    background-color: #1154bc;
}

.container-phone:hover i,
.container-phone:hover span,
.container-web:hover i,
.container-web:hover span {
    color: #fff;
}

.container-phone:hover::before,
.container-web:hover::before {
    width: 100%;
}

.container-phone i,
.container-phone span,
.container-web i,
.container-web span {
    position: relative;
    z-index: 1;
}

.footer {
    color: #fff;
    height: 3rem;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: rgba(12, 31, 61, 0.7);
    ;
}

body::-webkit-scrollbar-thumb {
    background-color: #0C1F3D;
    border-radius: 5px;
    border: none;
}

.container-inf-service:hover .circle {
    background-color: #0C1F3D;
}

.container-icon-user:hover .circle-user {
    background-color: #027849;
}

.container-inf-service {
    transition: transform 0.3s ease;
}

.container-inf-service:hover .ico {
    transform: scale(1.05);
}

.container-icon-user {
    transition: transform 0.3s ease;
}

.container-icon-user:hover {
    transform: scale(1.05);
}

.navbar-toggler-icon {
    filter: invert(1);
}

.contaner-first-about {
    background-color: #c2c2c2;
    color: white;
    text-align: left;
    padding: 20px;
    position: relative;
    height: 10rem;
}

.contaner-first-about::before {
    content: "";
    background: url('./img/home.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.header-content {
    position: relative;
    z-index: 2;
}

.card-header {
    height: 2rem;
    background-color: #027849;
}

.btn-card {
    background-color: #027849;
    color: #fff;
    width: 100%;
    border-radius: 5px;
    border: none;
    height: 40px;
    font-size: 16px;
}

.circle-card {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 2px solid #027849;
    border-radius: 50%;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
}

.ico-card {
    font-size: 20px;
    color: #027849;
}

.card-footer {
    background: #fff;
    border-top: none;
}

.card:hover .card-header {
    background: #0C1F3D;
}

.card:hover .circle-card {
    border: 2px solid #0C1F3D;
}

.card:hover .ico-card {
    color: #0C1F3D;
}

.card:hover .btn-card {
    background: #0C1F3D;
}

b {
    color: #0C1F3D;
}

.card-carousel {
    /*background: linear-gradient(135deg, #1E3B66, #0C1F3D, #08142C, #1E3B66);*/
    background: #0C1F3D;
    border: none;
    height: 20rem;
}

.circle-ico {
    border-radius: 50%;
    background: #fff;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-about {
    background-color: #0C1F3D;
}

.list-group-item {
    background-color: #027849;
}

.dropdown-menu {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu.show {
    opacity: 1;
    transform: translateY(0);
}

.dropdown-item {
    font-size: 0.95rem;
    font-weight: 500;
    color: #333;
    border-radius: 5px;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

.dropdown-item:hover {
    background-color: #e9ecef;
}

.dropdown-menu li {
    margin-bottom: 5px;
}

.dropdown-menu li:last-child {
    margin-bottom: 0;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}